{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title%}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css" integrity="sha512-wR4oNhLBHf7smjy0K4oqzdWumd+r5/+6QO/vDda76MW5iug4PT7v86FoEkySIJft3XA0Ae6axhIvHrqwm793Nw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css" integrity="sha512-6lLUdeQ5uheMFbWm3CP271l14RsX1xtx+J5x2yeIDkkiBpeVTNhTqijME7GgRKKi6hCqovwCoBTlRBEC20M8Mg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block static %}{% endblock %}
</head>

<body>
    <header class="my-3">
        <div class="d-flex justify-content-center align-items-center container-header">
            <img src="{% static 'images/Group.svg'%}">
            <div>
                <ul class="d-flex align-items-center mb-0 ps-0 header-center">
                    <li><a href="{% url 'home' %}">Trang chủ</a></li>
                    <li><a href="{% url 'list-projects' %}">Dự án</a></li>
                    <li><a href="{% url 'advertisement' %}">Mua bán</a></li>
                    <li><a href="{% url 'news' %}">Tin tức</a></li>
                    <li><a href="{% url 'sitetour' %}">Site tour</a></li>
                    <li><a href="#">Về chúng tôi</a></li>
                    <li><a href="#">Trở thành đối tác</a></li>
                    <li><a href="#">Đăng tin</a></li>
                </ul>
            </div>
            <div class="d-flex align-items-center gap-2">
                <div class="rounded-circle header-icon d-flex align-items-center justify-content-center"><i class="bi bi-heart-fill text-danger"></i></div>
                <div class="rounded-circle header-icon d-flex align-items-center justify-content-center"><i class="bi bi-search"></i></div>
                <div>
                    <a href="{% url 'login' %}">
                        <button class="button-login rounded-pill text-white h-100 flex-fill border-0 px-3 py-2">Đăng nhập</button>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer class="container-footer">
        <div class="content-footer">
            <div class="row gap-5 mb-3">
                <div class="col">
                    <h4 class="text-white mb-3">Liên Hệ Chúng Tôi</h4>
                    <div class="d-flex align-items-center gap-3 mb-2">
                        <i class="bi bi-geo-alt text-white"></i>
                        <p class="text-white mb-0">Toà HH2 Bắc Hà, Số 15 Tố Hữu, Nam Từ Liêm, Hà Nội</p>
                    </div>
                    <div class="d-flex align-items-center gap-3 mb-2">
                        <i class="bi bi-telephone-outbound text-white"></i>
                        <p class="text-white mb-0">024 254 254 52</p>
                    </div>
                    <div class="d-flex align-items-center gap-3 mb-2">
                        <i class="bi bi-envelope text-white"></i>
                        <p class="text-white mb-0">info@wesale.vn</p>
                    </div>
                </div>
                <div class="col">
                    <h4 class="text-white mb-3">Giới Thiệu</h4>
                    <div class="d-flex align-items-center gap-3 mb-2">
                        <i class="bi bi-geo-alt text-white"></i>
                        <p class="text-white mb-0">Về chúng tôi</p>
                    </div>
                    <div class="d-flex align-items-center gap-3 mb-2">
                        <i class="bi bi-telephone-outbound text-white"></i>
                        <p class="text-white mb-0">Nghề nghiệp</p>
                    </div>
                    <div class="d-flex align-items-center gap-3 mb-2">
                        <i class="bi bi-envelope text-white"></i>
                        <p class="text-white mb-0">Hồ sơ thương hiệu</p>
                    </div>
                    <div class="d-flex align-items-center gap-3 mb-2">
                        <i class="bi bi-envelope text-white"></i>
                        <p class="text-white mb-0">Tin tức</p>
                    </div>
                    <div class="d-flex align-items-center gap-3 mb-2">
                        <i class="bi bi-envelope text-white"></i>
                        <p class="text-white mb-0">Videos</p>
                    </div>
                </div>
                <div class="col">
                    <h4 class="text-white mb-3">Khám Phá</h4>
                    <div class="d-flex align-items-center gap-3 mb-2">
                        <i class="bi bi-geo-alt text-white"></i>
                        <p class="text-white mb-0">Dự án</p>
                    </div>
                    <div class="d-flex align-items-center gap-3 mb-2">
                        <i class="bi bi-telephone-outbound text-white"></i>
                        <p class="text-white mb-0">Nhà bán lẻ</p>
                    </div>
                    <div class="d-flex align-items-center gap-3 mb-2">
                        <i class="bi bi-envelope text-white"></i>
                        <p class="text-white mb-0">Nhà cho thuê</p>
                    </div>
                    <div class="d-flex align-items-center gap-3 mb-2">
                        <i class="bi bi-envelope text-white"></i>
                        <p class="text-white mb-0">Đăng tin bán nhà</p>
                    </div>
                    <div class="d-flex align-items-center gap-3 mb-2">
                        <i class="bi bi-envelope text-white"></i>
                        <p class="text-white mb-0">Đăng tin cho thuê nhà</p>
                    </div>
                </div>
                <div class="col">
                    <h4 class="text-white mb-3">Điều khoản</h4>
                    <div class="d-flex align-items-center gap-3 mb-2">
                        <i class="bi bi-geo-alt text-white"></i>
                        <p class="text-white mb-0">Quy chế hoạt động</p>
                    </div>
                    <div class="d-flex align-items-center gap-3 mb-2">
                        <i class="bi bi-telephone-outbound text-white"></i>
                        <p class="text-white mb-0">Chính sách bảo mật</p>
                    </div>
                    <div class="d-flex align-items-center gap-3 mb-2">
                        <i class="bi bi-envelope text-white"></i>
                        <p class="text-white mb-0">Cơ chế giải quyết tranh chấp</p>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <img src="{% static 'images/Frame.png'%}">
                <span class="text-white">© 2000-2021, All Rights Reserved</span>
                <div class="d-flex gap-3">
                    <img src="{% static 'images/Facebook.png'%}">
                    <img src="{% static 'images/YouTube.png'%}">
                    <img src="{% static 'images/TikTok.png'%}">
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>

</html>