{% extends 'layout.html' %}
{% load static %}
{% block title %} Trang cá nhân {% endblock %}
{% block static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css'%}">
{% endblock %}
{% block content %}
<div class="container-content">
    <div class="d-flex">
        <div class="profile-left rounded">
            <div>
                <img src="{% static 'images/Rectangle 25.png' %}">
            </div>
            <div class="py-4">
                <div class="information pb-1">
                    <b class="text-main ">Thông tin cá nhân</b>
                </div>
                <div class="py-3 d-flex flex-column gap-2">
                    <div class="d-flex justify-content-between">
                        <b class="text-main">Tài khoản:</b>
                        <span class="text-main">huytv</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <b class="text-main">Họ và tên:</b>
                        <span class="text-main">Trần Văn Huy</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <b class="text-main">Điện thoại:</b>
                        <span class="text-main">0327448785</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <b class="text-main">Email:</b>
                        <span class="text-main">huy1821051049@gmail.com</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-fill profile-right">
            <h1 class="text-main mb-3">Phạm Đăng Duy</h1>
            <div class="d-flex gap-5 text-main mb-3">
                <b class="text-main">Ngày tham gia:</b>
                <span>04/07/2022</span>
            </div>
            <div class="d-flex gap-5 text-main mb-4">
                <b class="text-main">Đóng góp:</b>
                <div class="d-flex gap-5">
                    <div class="d-flex gap-3">
                        <img src="{% static 'images/message-text.svg'%}">
                        <span class="text-main">255 Đánh giá</span>
                    </div>
                    <div class="d-flex gap-3">
                        <img src="{% static 'images/gallery.svg'%}">
                        <span class="text-main">255 Hình ảnh</span>
                    </div>
                    <div class="d-flex gap-3">
                        <img src="{% static 'images/video-play.svg'%}">
                        <span class="text-main">12 Video review</span>
                    </div>
                </div>
            </div>
            <div>
                <p class="text-main">
                    WeSale.vn duyệt nội dung đánh giá của thành viên trước khi hiển thị ra công khai. Những nội dung spam sẽ bị xoá ngay lập tức mà không thông báo trước. Chúng tôi có thể gỡ bất kỳ bài đánh giá nào chúng tôi cho là giả mạo hoặc không tuân thủ chính sách về bài đánh giá của WeSale.vn.
                    Trên máy tính hoặc trên thiết bị di động, bạn truy cập vào WeSale.vn và đảm bảo rằng bạn đã đăng nhập vào tài khoản.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}